// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.undolivecoding {
}

.version-container {
  // It's possible the height/width could be determined programmtically.
  //height: 100px;
  width: 675px;

  min-height: 70px;
  max-height: 500px;
  overflow: scroll;

  border: solid 1px white;

  // These are sort of arbitrary
  text-align: center;
  padding-top: 5px;
}

.hoverbox {
  min-height: 30px;
  width: 675px;

  border: dashed 1px white;

  text-align: left;
  //padding-top: 5px;
}

.edited-line {
  outline: solid 2px yellow;
  border-right: solid 2px yellow;
  border-left: solid 2px yellow;

  background-color: yellow;
}
